<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
 <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="contianer">
        <div class="header">
          <div class="sub1">
            <img src="https://mobirise.com/extensions/resultm5/affiliate-marketing/assets/images/logo.png" alt="" class="logo">
          </div>
          <div class="sub2">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Partners</a></li>
                <li><a href="./contact">Contact</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
          </div>
          <div>
            <button class="butt1">Log In</button>
            <button class="butt2">Sign Up</button>
          </div>
        </div>

        <div class="section">
            <div class="sub3">
                <!-- inject a data -->
                <h1><%= name %></h1>
                <h1 class="heading1">Affliate Markeing</h1>
                <p class="heading2">Affiliate marketing is the process by which an affiliate earns a commission f
                    or marketing another person’s or company’s products. The affiliate simply searches for a product they enjoy, then promotes that product and earns a piece of the profit from each sale they make.
                     The sales are tracked via affiliate links from one website to another. </p>
                    <button class="butt1 butt3">Start Now</button>
            </div>
            <div class="sub4">
                <img src="https://mobirise.com/extensions/resultm5/affiliate-marketing/assets/images/image4.jpg" alt="" class="image2">
                <img src="https://mobirise.com/extensions/resultm5/affiliate-marketing/assets/images/image16.jpg" alt="" class="image3">
            </div>
        </div>
    </div>
</body>
</html>